					<div id="da-slider" class="da-slider">
						<div class="da-slide">
							<h2>Easy Access</h2>
							<p>Software that allows you to access your data on the fly, we Cyber X IT give you compatible and reliable software for any device!</p>
							
							<div style="width: 0px; height: 0px;" class="da-img"><img src="Images/2.png" width="500" height="400" alt="image01" /></div>
						</div>
						<div class="da-slide">
							<h2>Providing the Best Service</h2>
					
							<p>We at Cyber X IT deliver the best quality products to our clients, with up to standard and fully quality controlled software Cyber X IT provides you with the best client satisfaction.</p>
							
							<div class="da-img"><img src="Images/3.png" alt="image01" width="300" height="300" /></div>
						</div>
						<div class="da-slide">
							<h2>Best Cloud Solutions</h2>
			
							<p>Giving your business the best cloud support to keep your data as safe as possible.</p>
							
							<div class="da-img"><img src="Images/1.png" alt="image01" width="500" height="400"/></div>
						</div>
						<div class="da-slide">
							<h2>Global Computing</h2>
						
							<p>Take your company global with Cyber X IT's global support we will provide you with the best solutions to suit your needs.</p>
							
							<div class="da-img"><img src="Images/4.png" alt="image01" width="500" height="400" /></div>
						</div>
						<nav class="da-arrows">
							<span class="da-arrows-prev"></span>
							<span class="da-arrows-next"></span>
						</nav>
					</div>			
        			   <!--This is the page footer-->
			    		<div id="footerContent">
				    		<table>
				    			<tr>
				    				<td  style="position: relative; "><span>&#9786;</span>&nbsp;Support</td>
				    				<td  style="position: relative; "><span>&#x260E;</span>&nbsp;Contact Details</td>
				    				<td  style="padding-right: 20px; position: relative;"><a href="http://www.management.cyberxit.co.za/">GO TO MY WEBSITE</a></td>		
				    				<td  style="position: relative; "><span>&#9990;</span>&nbsp;Social Media</td>
				    				<td  style="position: relative; "><span>&#x3f;</span>&nbsp;About</td>
				    			</tr>
				    			<tr>
				    				<td>
				    					<ul style="font-size: 11pt; list-style-type: none;">
				    						<li>e-mail: support@cyberxit.co.za</li>
				    						<li>Log a ticket: <a href="http://www.management.cyberxit.co.za/">www.management.cyberxit.co.za</a></li>
				    					</ul>
				    				</td>	
				    				<td>
				    					<ul style="font-size: 11pt; list-style-type: none;">
				    						<li>e-mail: sales@cyberxit.co.za</li>
				    						<li>Address: 31st Avenue Gauteng Pretoria</li>
				    					</ul>
				    				</td>
				    				<td>
				    					
				    				</td>
				    				<td>
				    					 <ul style="font-size: 11pt; list-style-type: none;">
				    						<li><a href="https://www.facebook.com/cyberxit?ref=ts&fref=ts"><img id="facebook" src="Images/facebook.png" width="50" height="50"/></a></li>
				    					</ul>
				    				</td>	
				    				<td>
				    					 <ul style="font-size: 11pt; list-style-type: none;">
				    					 	<li>
				    					 		We CyberX IT specialize in the latest web software<br/>
				    					 		to suit your needs.
				    					 	</li>
				    					 </ul>
				    				</td>	
				    			</tr>
				    		</table>
					<div>Copyright © 2014. CyberX IT all rights reserved</div>