<!--This is the main content-->
<div id="products">
	<div class="headerBackground">
	   <h1>SOLUTIONS</h1>
	</div>
	<div id="prodContainer">
		   <!--Websites-->
		   <div id="webSoftware" class="inactive" onclick="doSlide('webSoftware')"> 
		   	   <h1><span class="tableArrow-web">&#x25BA;</span>&nbsp;Web Solutions</h1>
		   </div>
		   <div id="websoftwareDiv"> 
			   <table id="webSoftwareTable" cellpadding="10" cellspacing="10" >
			   		<tr class="tableHeader">
			   			<td class="tableHeaderContent">
			   				SOLUTION 
			   			</td>
			   			<td  class="tableHeaderContent">
			   				DESCRIPTION
			   			</td>
			   			<td  class="tableHeaderContent">
			   				PRICE
			   			</td>
			   			<td>
			   				
			   			</td>
			   		</tr>
			   		<tr>
				   		<td>
				   			Plain Website
				   		</td>
				   		<td>
				   			This website doesn't have any functionality or administrative tasks enabled.<br/>
				   			This type of website is mostly used for display purposes. So if you have any content like<br/>
				   			advertising a book or displaying school content, then this is the site for you!
				   		</td>
				   		<td>
				   			R5000 - R6000
				   		</td>
				   		<td>
				   			<img src="styles/Images/Products/webPlain.png" />
				   		</td>
				   	</tr>
				   	<tr style="background-color: #d3d3d3;">
				   		<td>
				   			Plain Website with administrative tasks enabled
				   		</td>
				   		<td>
				   			This website has functionality and administrative tasks enabled.<br/>
				   			This type of website has an administrator panel which in turn enables you to <br/>
				   			change the content on your website!
				   		</td>
				   		<td>
				   			R6000 - R8000
				   		</td>
				   		<td>
				   			<img src="styles/Images/Products/webPlainAdmin.png" />
				   		</td>
				   	</tr>
				   	<tr>
				   		<td>
				   			Interactive Website
				   		</td>
				   		<td>
				   			This website has no administrative tasks enabled, this type of website<br/>
				   			focuses on interativity and eye pleasing design. From images galleries, featured content<br/>
				   			, live chat and much more. This website will suit your needs in the interactive environment!
				   		</td>
				   		<td>
				   			R8000 - R10000
				   		</td>
				   		<td>
				   			<img src="styles/Images/Products/interactive.png" />
				   		</td>
				   	</tr>
				   	<tr style="background-color: #d3d3d3;">
				   		<td>
				   			Interactive Website with administrative tasks enabled
				   		</td>
				   		<td>
				   			This website has administrative tasks enabled, this type of website<br/>
				   			focuses on interativity and eye pleasing design. From images galleries, featured content<br/>
				   			, live chat and much more. This website will suit your needs in the interactive environment.<br/>
				   			You can customize and  manage content, users, images and lots more!
				   		</td>
				   		<td>
				   			R10000 - R15000
				   		</td>
				   		<td>
				   			<img src="styles/Images/Products/interactiveAdmin.png" />
				   		</td>
				   	</tr>
				   	<tr>
				   		<td>
				   			Interactive Website with administrative tasks enabled (Responsive)
				   		</td>
				   		<td>
				   			This website has administrative tasks enabled, this type of website<br/>
				   			focuses on interactivity and eye pleasing design. From image galleries, featured content<br/>
				   			, live chat and much more. This website will suit your needs in the interactive environment.<br/>
				   			You can customize and  manage content, users, images and lots more. This type of website is<br/>
				   			fully responsive, meaning it is compatible accross all platforms like mobile phones, tablet's!
				   		</td>
				   		<td>
				   			R20000 - R25000
				   		</td>
				   		<td>
				   			<img src="styles/Images/Products/responsive.png" />
				   		</td>
				   	</tr>
			   </table>
			  <br/>
		   </div>
		   <br/>
		   <!--Hosting-->
			   <div id="hosting" class="inactive" onclick="doSlide('hosting')">
			   	  <h1><span class="tableArrow-host">&#x25BA;</span>&nbsp;Hosting Solutions</h1>
			   </div>
			   <div id="hostingDiv"> 
				   <table id="hostingTable" cellpadding="10">
				   	<tr class="tableHeader">
			   			<td class="tableHeaderContent">
			   				SOLUTION 
			   			</td>
			   			<td  class="tableHeaderContent">
			   				DESCRIPTION
			   			</td>
			   			<td  class="tableHeaderContent">
			   				PRICE
			   			</td>
			   			<td>
			   				
			   			</td>
			   		</tr>
				   		<tr>
					   		<td>
					   			Linux Hosting - Bronze Home
					   		</td>
					   		<td>
					   			Setup: Free<br>
					   			Web Traffic: Unlimited*<br/>
					   			Storage Space: 300 MB<br/>
					   			Email Accounts: 5<br/>
					   			MySQL Databases: None<br/>
					   			PHP Version: 5.3<br/>
					   		</td>
					   		<td>
					   			R15  /pm
					   		</td>
					   		<td>
					   			<img src="styles/Images/Products/homeBronze.png" />
					   		</td>
					   	</tr>
					   	<tr style="background-color: #d3d3d3;">
					   		<td>
					   			Linux Hosting - Silver Home
					   		</td>
					   		<td>
					   			Setup: Free<br>
					   			Web Traffic: Unlimited*<br/>
					   			Storage Space: 750 MB<br/>
					   			Email Accounts: 25<br/>
					   			MySQL Databases: None<br/>
					   			PHP Version: 5.3<br/>
					   		</td>
					   		<td>
					   			R29 /pm
					   		</td>
					   		<td>
					   			<img src="styles/Images/Products/homeSilver.png" />
					   		</td>
					   	</tr>
					   	<tr>
					   		<td>
					   			Linux Hosting - Gold Home
					   		</td>
					   		<td>
					   			Setup: Free<br>
					   			Web Traffic: Unlimited*<br/>
					   			Storage Space: 2000 MB<br/>
					   			Email Accounts: 75<br/>
					   			MySQL Databases: 1<br/>
					   			PHP Version: 5.3<br/>
					   		</td>
					   		<td>
					   			R49  /pm
					   		</td>
					   		<td>
					   			<img src="styles/Images/Products/homeGold.png" />
					   		</td>
					   	</tr>
					   	<tr style="background-color: #d3d3d3;">
					   		<td>
					   			Linux Hosting - Platinum Home
					   		</td>
					   		<td>
					   			Setup: Free<br>
					   			Web Traffic: Unlimited*<br/>
					   			Storage Space: 3000 MB<br/>
					   			Email Accounts: 200<br/>
					   			MySQL Databases: 5<br/>
					   			PHP Version: 5.3<br/>
					   		</td>
					   		<td>
					   			R55  /pm
					   		</td>
					   		<td>
					   			<img src="styles/Images/Products/homePlatinum.png" />
					   		</td>
					   	</tr>
					   	<tr>
					   		<td>
					   			Linux Hosting - Bronze Pro
					   		</td>
					   		<td>
					   			Setup: Free<br>
					   			Web Traffic: Unlimited*<br/>
					   			Storage Space: 4000 MB<br/>
					   			Email Accounts: 500<br/>
					   			MySQL Databases: 20<br/>
					   			PHP Version: 5.3<br/>
					   		</td>
					   		<td>
					   			R75  /pm
					   		</td>
					   		<td>	
								<img src="styles/Images/Products/proBronze.png" />
					   		</td>
					   	</tr>
					   	<tr style="background-color: #d3d3d3;">
					   		<td>
					   			Linux Hosting - Silver Pro
					   		</td>
					   		<td>
					   			Setup: Free<br>
					   			Web Traffic: Unlimited*<br/>
					   			Storage Space: 10 000 MB<br/>
					   			Email Accounts: 2000<br/>
					   			MySQL Databases: 100<br/>
					   			PHP Version: 5.3<br/>
					   		</td>
					   		<td>
					   			R110 /pm
					   		</td>
					   		<td>
					   			<img src="styles/Images/Products/proSilver.png" />
					   		</td>
					   	</tr>
					   	<tr>
					   		<td>
					   			Linux Hosting - Gold Pro
					   		</td>
					   		<td>
					   			Setup: Free<br>
					   			Web Traffic: Unlimited*<br/>
					   			Storage Space: 20 000 MB<br/>
					   			Email Accounts: 5000<br/>
					   			MySQL Databases: 200<br/>
					   			PHP Version: 5.3<br/>
					   		</td>
					   		<td>
					   			R175 /pm
					   		</td>
					   		<td>
					   			<img src="styles/Images/Products/proGold.png" />
					   		</td>
					   	</tr>
					   	<tr style="background-color: #d3d3d3;">
					   		<td>
					   			Linux Hosting - Platinum Pro
					   		</td>
					   		<td>
					   			Setup: Free<br>
					   			Web Traffic: Unlimited*<br/>
					   			Storage Space: 50 000 MB<br/>
					   			Email Accounts: Unlimited*<br/>
					   			MySQL Databases: Unlimited*<br/>
					   			PHP Version: 5.3<br/>
					   		</td>
					   		<td>
					   			R450 /pm
					   		</td>
					   		<td>
					   			<img src="styles/Images/Products/proPlatinum.png" />
					   		</td>
					   	</tr>
				   </table>
		  		<br/>
		  </div>
		  <br/>
		  <!--Software-->
		  <div id="deskSoftware"  class="inactive" onclick="doSlide('deskSoftware')">
		  	   <h1><span class="tableArrow-desk">&#x25BA;</span>&nbsp;Software Solutions</h1>
		  </div>
		  <div id="deskSoftwareDiv">
			   <table id="deskSoftwareTable" cellpadding="10">
			   		<tr class="tableHeader">
			   			<td class="tableHeaderContent">
			   				SOLUTION 
			   			</td>
			   			<td  class="tableHeaderContent">
			   				DESCRIPTION
			   			</td>
			   			<td  class="tableHeaderContent">
			   				PRICE
			   			</td>
			   			<td>
			   				
			   			</td>
			   		</tr>
			   		<tr>
				   		<td>
				   			Desktop applications with minor functionality
				   		</td>
				   		<td>
				   			These applications are usually small applications that people tend<br/>
				   			to use for day to day tasks.
				   		</td>
				   		<td>
				   			R5000 - R8000
				   		</td>
					   	<td>
					   		<img src="styles/Images/Products/desktopMinor.png" />
					   	</td>
				   	</tr>
				   	<tr style="background-color: #d3d3d3;">
				   		<td>
				   			Desktop applications with major internal functionality
				   		</td>
				   		<td>
				   			These applications are usually used by companies to carry out daily<br/>
				   			tasks for example: automation processes, automated schedulings etc.
				   		</td>
				   		<td>
				   			R10 000 - R15 000 
				   		</td>
				   		<td>
				   			<img src="styles/Images/Products/desktopMajor.png" />
				   		</td>
				   	</tr>
				   	<tr>
				   		<td>
				   			Server applications for distributed networks (intranets)
				   		</td>
				   		<td>
				   			These applications are usually used in large organizations for<br/>
				   			communication, administration, passing data around the firm etc.<br/>
				   		</td>
				   		<td>
				   			R25 000 - R30 000
				   		</td>
				   		<td>
				   			<img src="styles/Images/Products/desktopServer.png" />
				   		</td>
				   	</tr>
			    </table>
			  <br/>
		   </div>
		  <br/>
		  <!--maintenance-->
		  <div id="maintenance"  class="inactive" onclick="doSlide('maintenance')">
		  	   <h1><span class="tableArrow-maint">&#x25BA;</span>&nbsp;Maintenance</h1>
		  </div>
		  <div id="maintenanceDiv">
			   <table id="maintenanceTable" cellpadding="10">
			   		<tr class="tableHeader">
			   			<td class="tableHeaderContent">
			   				SOLUTION 
			   			</td>
			   			<td  class="tableHeaderContent">
			   				DESCRIPTION
			   			</td>
			   			<td  class="tableHeaderContent">
			   				PRICE
			   			</td>
			   			<td>
			   				
			   			</td>
			   		</tr>
			   		<tr>
				   		<td>
				   			Yearly Maintenance Package
				   		</td>
				   		<td>
				   			Yearly maintenance once off  (x1 hours per week = 4 hours per month).
				   		</td>
				   		<td>
				   			R3120 p/y
				   		</td>
					   	<td>
					   		<img width="150px" height="150px" src="styles/Images/Products/yearlyMaintenance.png" />
					   	</td>
				   	</tr>
				   	<tr style="background-color: #d3d3d3;">
				   		<td>
				   			Monthly Maintenance Package
				   		</td>
				   		<td>
				   			Monthly maintenance (x1 hours per week = 4 hours per month).
				   		</td>
				   		<td>
				   			R260 p/m
				   		</td>
				   		<td>
				   			<img width="150px" height="150px" src="styles/Images/Products/monthlyMaintenance.png" />
				   		</td>
				   	</tr>
				   	<tr>
				   		<td>
				   			Emergency Support
				   		</td>
				   		<td>
				   			Emergency support on website, mails etc. (Maintenance hours can be used<br/>
				   			during the week/month in case of emergency support response.) 
				   		</td>
				   		<td>
				   			R65 p/h
				   		</td>
				   		<td>
				   			<img width="150px" height="150px" src="styles/Images/Products/Emergency.png" />
				   		</td>
				   	</tr>
			   </table>
		  	   <!--#endregion Bullet Navigator Skin End -->
			        </div>
        			   <!--This is the page footer-->
			    		<div id="footerContent" style="position: relative; top: 265px;">
				    		<table>
				    			<tr>
				    				<td  style="position: relative; "><span>&#9786;</span>&nbsp;Support</td>
				    				<td  style="position: relative; "><span>&#x260E;</span>&nbsp;Contact Details</td>
				    				<td  style="padding-right: 20px; position: relative;"><a href="http://www.management.cyberxit.co.za/">GO TO MY WEBSITE</a></td>		
				    				<td  style="position: relative; "><span>&#9990;</span>&nbsp;Social Media</td>
				    				<td  style="position: relative; "><span>&#x3f;</span>&nbsp;About</td>
				    			</tr>
				    			<tr>
				    				<td>
				    					<ul style="font-size: 11pt; list-style-type: none;">
				    						<li>e-mail: support@cyberxit.co.za</li>
				    						<li>Log a ticket: <a href="http://www.management.cyberxit.co.za/">www.management.cyberxit.co.za</a></li>
				    					</ul>
				    				</td>	
				    				<td>
				    					<ul style="font-size: 11pt; list-style-type: none;">
				    						<li>e-mail: sales@cyberxit.co.za</li>
				    						<li>Address: 31st Avenue Gauteng Pretoria</li>
				    					</ul>
				    				</td>
				    				<td>
				    					
				    				</td>
				    				<td>
				    					 <ul style="font-size: 11pt; list-style-type: none;">
				    						<li><a href="https://www.facebook.com/cyberxit?ref=ts&fref=ts"><img id="facebook" src="Images/facebook.png" width="50" height="50"/></a></li>
				    					</ul>
				    				</td>	
				    				<td>
				    					 <ul style="font-size: 11pt; list-style-type: none;">
				    					 	<li>
				    					 		We CyberX IT specialize in the latest web software<br/>
				    					 		to suit your needs.
				    					 	</li>
				    					 </ul>
				    				</td>	
				    			</tr>
				    		</table>
				<div>Copyright © 2014. CyberX IT all rights reserved</div>
	 	</div>
	</div>	  
</div>