<!--This is the main content-->
<div id="projects">
	<div class="headerBackground">
	   <h1>PROJECTS</h1>
	</div>
	<h2>No Projects Currently</h2>
	<div id="projContainer">

					    		<div id="footerContent" style="position: relative; top: 312px;">
				    		<table>
				    			<tr>
				    				<td  style="position: relative; "><span>&#9786;</span>&nbsp;Support</td>
				    				<td  style="position: relative; "><span>&#x260E;</span>&nbsp;Contact Details</td>
				    				<td  style="padding-right: 20px; position: relative;"><a href="http://www.management.cyberxit.co.za/">GO TO MY WEBSITE</a></td>		
				    				<td  style="position: relative; "><span>&#9990;</span>&nbsp;Social Media</td>
				    				<td  style="position: relative; "><span>&#x3f;</span>&nbsp;About</td>
				    			</tr>
				    			<tr>
				    				<td>
				    					<ul style="font-size: 11pt; list-style-type: none;">
				    						<li>e-mail: support@cyberxit.co.za</li>
				    						<li>Log a ticket: <a href="http://www.management.cyberxit.co.za/">www.management.cyberxit.co.za</a></li>
				    					</ul>
				    				</td>	
				    				<td>
				    					<ul style="font-size: 11pt; list-style-type: none;">
				    						<li>e-mail: sales@cyberxit.co.za</li>
				    						<li>Address: 31st Avenue Gauteng Pretoria</li>
				    					</ul>
				    				</td>
				    				<td>
				    					
				    				</td>
				    				<td>
				    					 <ul style="font-size: 11pt; list-style-type: none;">
				    						<li><a href="https://www.facebook.com/cyberxit?ref=ts&fref=ts"><img id="facebook" src="Images/facebook.png" width="50" height="50"/></a></li>
				    					</ul>
				    				</td>	
				    				<td>
				    					 <ul style="font-size: 11pt; list-style-type: none;">
				    					 	<li>
				    					 		We CyberX IT specialize in the latest web software<br/>
				    					 		to suit your needs.
				    					 	</li>
				    					 </ul>
				    				</td>	
				    			</tr>
				    		</table>
				<div>Copyright © 2014. CyberX IT all rights reserved</div>
	 	</div>
	</div>
</div>