<!--This is the main content-->
<div id="story">
	<div class="headerBackground">
	   <h1>OUR STORY</h1>
	</div>
	<div id="storyContainer">
			<img  src="Images/paperScroll.jpg" style="position: absolute; left:0px; right: 0px; margin: auto; " width="80%" height="800px" >
				<table id="ourStoryTable" style="position: absolute;" cellpadding="10">
					<tr>
						<td>
							Emerged as just students from CTI Institute and Heriot Watt University 3 years ago, we had a whole
							life ahead of us thinking, planning and figuring out what we want to do with our lives when we start
							working. We four IT directors of CyberX IT became friends back while still studying, we engaged in a 
							brainstorming session on what we wish to acomplish one day. We had goals so big, dreams so vivid we
							said "reaching these goals are inevitable!". We grew as a company, we grew as friends and partners
							all aiming for the same goals. We had tough times where some strategies just didn't seem to work out,
							but in the end we did prevail. At the ages between 20 and 22 we already had our own company running! 
							We strive for new things everyday and we intend to make every moment we have more joyful and more 
							experienced than ever before. 
							<br/>
							<br/>
							We are a growing company and we tend to keep on growing in the future. We as CyberX IT provides the 
							best for our clients. Our clients are our top priority and keeping our clients satisfied is imperative!  
							<br/>
							<br/>
							Cyber X IT we don't just build Software, we build your business!
								
						</td>
					</tr>
				</table>
			</img>
	</div>
</div>
<div id="footerContent" style="position: absolute; bottom: -560px;">
				    		<table>
				    			<tr>
				    				<td  style="position: relative; "><span>&#9786;</span>&nbsp;Support</td>
				    				<td  style="position: relative; "><span>&#x260E;</span>&nbsp;Contact Details</td>
				    				<td  style="padding-right: 20px; position: relative;"><a href="http://www.management.cyberxit.co.za/">GO TO MY WEBSITE</a></td>		
				    				<td  style="position: relative; "><span>&#9990;</span>&nbsp;Social Media</td>
				    				<td  style="position: relative; "><span>&#x3f;</span>&nbsp;About</td>
				    			</tr>
				    			<tr>
				    				<td>
				    					<ul style="font-size: 11pt; list-style-type: none;">
				    						<li>e-mail: support@cyberxit.co.za</li>
				    						<li>Log a ticket: <a href="http://www.management.cyberxit.co.za/">www.management.cyberxit.co.za</a></li>
				    					</ul>
				    				</td>	
				    				<td>
				    					<ul style="font-size: 11pt; list-style-type: none;">
				    						<li>e-mail: sales@cyberxit.co.za</li>
				    						<li>Address: 31st Avenue Gauteng Pretoria</li>
				    					</ul>
				    				</td>
				    				<td>
				    					
				    				</td>
				    				<td>
				    					 <ul style="font-size: 11pt; list-style-type: none;">
				    						<li><a href="https://www.facebook.com/cyberxit?ref=ts&fref=ts"><img id="facebook" src="Images/facebook.png" width="50" height="50"/></a></li>
				    					</ul>
				    				</td>	
				    				<td>
				    					 <ul style="font-size: 11pt; list-style-type: none;">
				    					 	<li>
				    					 		We CyberX IT specialize in the latest web software<br/>
				    					 		to suit your needs.
				    					 	</li>
				    					 </ul>
				    				</td>	
				    			</tr>
				    		</table>
				<div>Copyright © 2014. CyberX IT all rights reserved</div>
	 	</div>