/* CYBER X STYLESHEET */
body {
	overflow-x :hidden; 
	margin:0px;
	
}

#wrapper {
	
	width: 100%; 
	height:100%; 
	margin:0px auto; 
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

.container {
	position: relative;
	margin: 0px auto;
	width: 100%;
}

.menu {

	width: 100%;
	position: relative; 
	top:30px;
}

.menu ul {
	padding: 0;
	position: relative;
	background-color: #B1D9F5;
	list-style-type: none;
}

.menu ul li {
	padding: 40px;
	font-family:"Swis721 Lt BT";
	font-weight:lighter;
	font-size: 72px;
	border-top: 2px solid grey;
	border-bottom: 1px solid grey;
}

.menu ul li a {
	color: white;
	text-decoration: none;
}

.menu ul li:hover {background-color:#CCCCCC;}  /* mouse over link */
.menu ul li:active {background-color:#CCCCCC;}  /* selected link */

.footer {
	top: 60px;
	width: 100%;
	height: 670px;
	background-color: #808080;
	position: relative;

}

.copyright {
	position: relative;
	top: 104px; 
	font-size: 24px;
	font-family:"Swis721 Lt BT";
	font-weight:lighter;
	color: white;	
}

.footerTable{
	position: relative;
	padding-left: 42px;
	top: 44px; 
	font-size: 36px;
	font-family:"Swis721 Lt BT";
	font-weight:lighter;
	text-align: left;
	color: white;		
	width: 100%;

}

.solutions {
	overflow-x: hidden;
	margin: 0px auto;
        position: relative;
        width: 100%:
        height: 20px;
        font-size: 66px;
	font-family:"Swis721 Lt BT";
	font-weight:lighter;
	text-align: left;
	color: white;	
	background-color: black;
	opacity: 0.6;	
}

.controls { 
	position: fixed;
	top: 33%;
	right: 1%;
	height: 200;
	width: 120px;
	z-index: 999;
}
.controls span {
	width: 100px;
	height: 100px; 
	position: relative;
	left: 10%;
}

.solutions_sub {
	position: relative; 
	left: 0px; 
	right: 0px; 
	margin: 0px auto;
	top: 25px;
	height: 470px; 
}

.solutionsTable{ 
	position: relative;
	left: 0px;
	width: 100%;
	font-size: 46px;
	font-family:"Swis721 Lt BT";
	font-weight:lighter;
	text-align: left;
	background-image: url("/Images/table_background.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.webSolutions {
        text-decoration: none;
        color: black;
}
.webSolutionContent {
	width:800px;
	position:relative;
	left: 40px;
	font-size: 36px;
	font-family:"Swis721 Lt BT";
	font-weight:lighter;
}



.hostSolutions {
        text-decoration: none;
        color: black;
}
.hostSolutionContent {
	width:800px;
	position:relative;
	left: 40px;
	font-size: 36px;
	font-family:"Swis721 Lt BT";
	font-weight:lighter;
}

.softSolutions {
        text-decoration: none;
        color: black;
}
.softSolutionContent {
	width:800px;
	position:relative;
	left: 40px;
	font-size: 36px;
	font-family:"Swis721 Lt BT";
	font-weight:lighter;
}

.maint {
        text-decoration: none;
        color: black;
}
.maintContent {
	width:800px;
	position:relative;
	left: 40px;
	font-size: 36px;
	font-family:"Swis721 Lt BT";
	font-weight:lighter;
}

.solutions_sub a:hover {background-color:#B1D9F5;}  /* mouse over link */
.solutions_sub a:active {background-color:#B1D9F5;}  /* selected link */

.specials_sub {
	position: relative; 
	left: 0px; 
	right: 0px; 
	margin: 0px auto;
	top: 25px;
	height: 470px; 
}

.specialsTable{ 
	position: relative;
	left: 0px;
	width: 100%;
	height: 300px;
	font-size: 46px;
	font-family:"Swis721 Lt BT";
	font-weight:lighter;
	text-align: left;
	background-image: url("/Images/table_background.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.about_sub {
	position: relative; 
	left: 0px; 
	right: 0px; 
	margin: 0px auto;
	top: 25px;
	height: 470px; 
}

.aboutTable{ 
	position: relative;
	left: 0px;
	width: 100%;
	height: 300px;
	font-size: 46px;
	font-family:"Swis721 Lt BT";
	font-weight:lighter;
	text-align: left;
	background-image: url("/Images/table_background.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.conatct_sub {
	position: relative; 
	left: 0px; 
	right: 0px; 
	margin: 0px auto;
	top: 25px;
	height: 470px; 
}

.contactTable{ 
	position: relative;
	left: 0px;
	width: 100%;
	height: 400px;
	font-size: 36px;
	font-family:"Swis721 Lt BT";
	font-weight:lighter;
	text-align: left;
	background-image: url("/Images/table_background.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}



