body {
  	font: 85%/0.9 arial, helvetica, sans-serif;
	margin:0px;
  	line-height: 130%;
  	width: 100%;
  	min-width: 970px;
  	color: black;
}

h1 {
	line-height: 30px;
	opacity: 0;
	top: 10px;
	color: black;
	text-decoration: none; 
	font-size: 20px;
	font-family:"Swis721 Lt BT";
	font-weight:lighter;
	z-index: 2;
	position: relative; 
	margin: 0 auto;
	right: 940px; 
	top: 70px;
	z-index: 4;
}
.loader1Hidden {
	
	position: absolute;
	width: 100px;
	height: 100px;
	margin: 0px auto;
	left: 0px;
	right: 0px; 
	top: 45%;
	visibility: hidden;
	z-index: 999;
	
}

.loader1Visible {
	
	position: absolute;
	width: 100px;
	height: 100px;
	margin: 0px auto;
	left: 0px;
	right: 0px; 
	top: 45%;
	opacity: 1;
	z-index: 999;
	
}

#logoImage {
	
	border: none;
	 position: absolute; 
	 top: -2%; 
	 width: 500px;
	 height: 240px;
	 left: 0px;
	 margin: 0px auto; 
	 opacity: 0;
	 z-index: 2;
	
}


#wrapper {
	
	width: 100%; 
	height:100%; 
	margin:0px auto; 
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}
#navClearFix {
	background: url('../Images/navback.png');
}
.clearfix { 

   position: absolute; 
   	padding-left: 0;
	padding-right: 0;
	list-style: none;

}

.clearfix:after {
	
    display:block;
    clear:both;
}
 
/*----- Menu Outline -----*/
.menu-wrap {
	
	opacity: 0;
	position: relative;
	left: 0px;
	right:0px;
	top: 30%;
    width:100%;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2);
    z-index: 3;

}
 
.menu {

    margin: 0px;
    width:1232px;
}
 
.menu li {
    margin:0px;
    list-style:none;
    font-family:'Swis721 Lt BT';
}
 
.menu a {
	text-decoration: none;
    transition:all linear 0.15s;
    color: black;
}
 
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color: white;
}
 
.menu .arrow {
	
    font-size:20px;
    line-height:0%;
    
}
 
/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:19px;
}
 
.menu > ul > li > a {
	color: white;
    padding:10px 40px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {

    background: url('../Images/bt_nav.png');

}
 
/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:3;
    opacity:0.8;
}
 
.sub-menu {
    width:160%;
    padding:0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background: black;
}
 
.sub-menu li {
    display:block;
    font-size:16px;
}
 
.sub-menu li a {
	color: white;
    padding:10px 30px;
    display:block;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    background: #7ec0ee;
	

}

#mainContent {
	position: relative;
	color: white;
	height: 600px;
	position: relative;
	margin: 0px auto;
	left: 0px; 
	right: 0px;
	top: 25%;
	width: 100%;
	z-index: 2;

}
.main_background {
	height: 0px;
	width: 100%;	
 	repeat: no-repeat;
 	z-index: 2;
 	border-top: 0px outset gray;
 	border-bottom: 0px outset gray;
}

/*All main content headers */
#mainContent h1 {
  
  opacity: 1;
  top: 0px;
  padding-left: 10px;
  color: black;
  text-align: left;
  left: 5%;
  text-decoration: none;
  font-size: 23px;
  font-family: "Swis721 Lt BT";
  font-weight: bolder;
  z-index: 999;
  position: relative;
}

#footerContent {
	border: none;
    background: url('../Images/footerBackground.png');
	opacity: 0;
	position: absolute;
	height: 250px;
	bottom: -264px;
	left: 0px;
	right: 0px;
	font-family:"Swis721 Lt BT";
	font-weight:lighter;
	text-decoration: none;
	font-size: 14pt;
	text-align: center;
}

#footerContent table {
	padding-top: 15px;
	font-family:"Swis721 Lt BT";
	font-weight:lighter;
	text-decoration: none;
	font-size: 14pt;
	color: white;
	position: relative;
	margin: 0px auto;
	left: 0px;
	right: 0px; 
	width: 1200px;
	color: white;
	    
}

#footerContent table tr {
	
	text-align: center;
	position: relative;
	left: -60px;
}

#footerContent table td {
	text-align: left;
	padding-top: 20px;
	position: relative;
	left: -50px;
	width: 400px;
}

#footerContent table td ul {
	
	position: relative; 
	left: -40px;

}

#footerContent  a {
	color: white;
	text-decoration: none;
	position: relative;
	width: 5.8%;
	left: 0px;
	right: 0px;
	top: 35%;
}
#footerContent  a:hover {
	color: #7ec0ee;
}

#footerContent  div {
	color: white;
	position: absolute;
	left: 0px;
	right: 0px;
	font-family:"Swis721 Lt BT";
	font-weight:lighter;
	text-decoration: none;
	font-size: 9pt;
	text-align: center;
	top: 85%;
	padding-top: 20px;
}
#facebook {
	background-image: url("../Images/facebook.png");
	
}
#facebook:hover {
	content: url("../Images/facebook_hover.png");
}


/* Products Page */
#products .headerBackground {
  position: relative;
  margin: 0px auto;
  width: 100%;
  background-color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
	
} 

#prodContainer {
  position: absolute;
  top: 70px;
  width: 100%;
  margin: auto;
  left: 0px;
  right: 0px;

}
#prodContainer div h1 {
  opacity: 1;
  top: 0px;
  padding-left: 10px;
  color: white;
  text-align: left;
  text-decoration: none;
  font-size: 20px;
  font-family: "Swis721 Lt BT";
  font-weight: lighter;
  left: 140px;
}


/* Web Software Styling */
#webSoftware {

	transition-delay: 0s;
	transition-duration: 0.2s;
	transition-property: all;
	transition-timing-function: cubic-bezier(0, 0, 1, 1);
	background: url('../Images/solutionbg.png');
	opacity: 1;

}
#webSoftware:hover {
	
	background-color: black;
	opacity: 0.6;
	cursor: pointer;
	cursor: hand;

}
#websoftwareDiv {
	display: none;
	border-bottom: 1px solid black;
	
}
#webSoftwareTable {

	border-bottom: none;
    border-collapse:collapse;
  top: 5px;
  padding-left: 20px;
  color: black;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  font-family: "Swis721 Lt BT";
  font-weight: lighter;
  z-index: 999;
  width: 100%;
  position: relative;
  width: 70%;
  left: 180px;
	
}
#webSoftwareTable td {
	

	border-bottom: none;
    border-collapse: collapse;
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
}

#hosting {
	transition-delay: 0s;
	transition-duration: 0.2s;
	transition-property: all;
	transition-timing-function: cubic-bezier(0, 0, 1, 1);
	background: url('../Images/solutionbg.png');
	opacity: 1;
}
#hosting:hover {
	background-color: black;
	opacity: 0.6;
	cursor: pointer;
	cursor: hand;

}
#hostingDiv {
	display: none;
	border-bottom: 1px solid black;
}
#hostingTable {
  border-bottom: none;
  border-collapse:collapse;
  top: 5px;
  padding-left: 20px;
  color: black;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  font-family: "Swis721 Lt BT";
  font-weight: lighter;
  z-index: 999;
  width: 100%;
  position: relative;
  width: 70%;
  left: 180px;
	
}
#hostingTable td {
	
	border-bottom: none;
    border-collapse: collapse;
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
}

#deskSoftware {
	transition-delay: 0s;
	transition-duration: 0.2s;
	transition-property: all;
	transition-timing-function: cubic-bezier(0, 0, 1, 1);
	background: url('../Images/solutionbg.png');
	opacity: 1;
}
#deskSoftware:hover {
	background-color: black;
	opacity: 0.6;
	cursor: pointer;
	cursor: hand;

}
#deskSoftwareDiv {
	display: none;
	border-bottom: 1px solid black;
}
#deskSoftwareTable {
	
  border-bottom: none;
  border-collapse:collapse;
  top: 5px;
  padding-left: 20px;
  color: black;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  font-family: "Swis721 Lt BT";
  font-weight: lighter;
  z-index: 999;
  width: 100%;
  position: relative;
  width: 70%;
  left: 180px;
}
#deskSoftwareTable td {
	
	border-bottom: none;
    border-collapse: collapse;
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;

}

#maintenance {
	transition-delay: 0s;
	transition-duration: 0.2s;
	transition-property: all;
	transition-timing-function: cubic-bezier(0, 0, 1, 1);
	background: #7ec0ee;
	opacity: 0.6;transition-delay: 0s;
	transition-duration: 0.2s;
	transition-property: all;
	transition-timing-function: cubic-bezier(0, 0, 1, 1);
	background: url('../Images/solutionbg.png');
	opacity: 1;
}
#maintenance:hover {
	background-color: black;
	opacity: 0.6;
	cursor: pointer;
	cursor: hand;

}
#maintenanceDiv {
	display: none;
	border-bottom: 1px solid black;
}
#maintenanceTable {
	
  border-bottom: none;
  border-collapse:collapse;
  top: 5px;
  padding-left: 20px;
  color: black;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  font-family: "Swis721 Lt BT";
  font-weight: lighter;
  z-index: 999;
  width: 100%;
  position: relative;
  width: 70%;
  left: 180px;
}
#maintenanceTable td {
	
	border-bottom: none;
    border-collapse: collapse;
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;

}


/*Projects Page */
#projects .headerBackground {
  position: relative;
  margin: 0px auto;
  width: 100%;
  background-color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
	
} 

#projContainer {
  position: absolute;
  top: 70px;
  width: 100%;
  margin: auto;
  left: 0px;
  right: 0px;

}
#projContainer div h1 {
  opacity: 1;
  top: 0px;
  padding-left: 10px;
  color: white;
  text-align: left;
  text-decoration: none;
  font-size: 20px;
  font-family: "Swis721 Lt BT";
  font-weight: lighter;
  left: 140px;
}

#projects h2 {
  opacity: 1;
  top: 0px;
  padding-left: 10px;
  color: black;
  text-align: left;
  text-decoration: none;
  font-size: 15px;
  font-family: "Swis721 Lt BT";
  font-weight: lighter;
  position: relative;
  left: 150px;
}

/*Our story page */
#story .headerBackground {
  position: relative;
  margin: 0px auto;
  width: 100%;
  background-color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
	
} 

#storyContainer {
  position: relative;
  top: 70px;
  width: 100%;
  margin: auto;
  left: 0px;
  right: 0px;

}
#storyContainer div h1 {
  opacity: 1;
  top: 0px;
  padding-left: 10px;
  color: white;
  text-align: left;
  text-decoration: none;
  font-size: 20px;
  font-family: "Swis721 Lt BT";
  font-weight: lighter;
  left: 140px;
}

#ourStoryTable {
  border-bottom: none;
  border-collapse:collapse;
  top: 220px;
  padding-left: 20px;
  color: white;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  font-family: "Swis721 Lt BT";
  font-weight: lighter;
  z-index: 999;
  position: relative;
  width: 45%;
  left: 22%;
}

/*Contact Page */
#contact .headerBackground {
  position: relative;
  margin: 0px auto;
  width: 100%;
  background-color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
	
} 

#contactContainer {
  position: absolute;
  top: 70px;
  width: 100%;
  margin: auto;
  left: 0px;
  right: 0px;

}
#contactContainer div h1 {
  opacity: 1;
  top: 0px;
  padding-left: 10px;
  color: white;
  text-align: left;
  text-decoration: none;
  font-size: 20px;
  font-family: "Swis721 Lt BT";
  font-weight: lighter;
  left: 140px;
}
#contactTable {
  display: none;
  border: 1px solid black;
  top: 40px;
  color: black;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  font-family: "Swis721 Lt BT";
  font-weight: lighter;
  z-index: 999;
  position: relative;
  width:30%;
  left: 0px;
  right: 0px;
  margin: auto;
}
#contactLogQueryTable {
  display: none;
  border: 1px solid black;
  top: 40px;
  color: black;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  font-family: "Swis721 Lt BT";
  font-weight: lighter;
  z-index: 999;
  position: relative;
  width:30%;
  left: 0px;
  right: 0px;
  margin: auto;
}

#buttonTable {
  border: none;
  top: 40px;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: "Swis721 Lt BT";
  font-weight: lighter;
  z-index: 999;
  position: relative;
  width:30%;
  left: 0px;
  right: 0px;
  margin: auto;
}

#buttonTableReturn {
	display: none;
 border: none;
  top: 40px;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: "Swis721 Lt BT";
  font-weight: lighter;
  z-index: 999;
  position: relative;
  width:30%;
  left: 0px;
  right: 0px;
  margin: auto;
}
/*Support Page*/
#support .headerBackground {
  position: relative;
  margin: 0px auto;
  width: 100%;
  background-color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
	
} 
#supportContainer {
  position: relative;
  top: 30px;
  width: 100%;
  margin: auto;
  left: 0px;
  right: 0px;

}
#supportTicketTable {
  border: 1px solid black;
  top: 40px;
  color: black;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  font-family: "Swis721 Lt BT";
  font-weight: lighter;
  z-index: 999;
  position: relative;
  width:30%;
  left: 0px;
  right: 0px;
  margin: auto;

}
.supportImage {
	height: 170px;
	width: 100%;
	position: relative;
	background-color: white;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}
.supportImage img {
	position: relative;
	float: left;
	left:39%;
	transform-style: preserve-3d;
	transition: all 1.0s linear;
}
.buttonStyle {
	-webkit-appearance: none;
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  -webkit-box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
  -webkit-rtl-ordering: logical;
  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 1, 1);
  -webkit-user-select: none;
  -webkit-writing-mode: horizontal-tb;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #7ec0ee;
  background-image: none;
  background-origin: padding-box;
  background-size: auto;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 14.3999996185303px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  outline-color: rgb(255, 255, 255);
  outline-style: none;
  outline-width: 0px;
  padding-bottom: 5.03999996185303px;
  padding-left: 10.7999992370605px;
  padding-right: 10.7999992370605px;
  padding-top: 5.03999996185303px;
  text-align: center;
  text-decoration: none;
  text-indent: 0px;
  text-overflow: ellipsis;
  text-shadow: none;
  text-transform: none;
  position: relative;
  top: 16px;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0, 0, 1, 1);
  width: 56px;
  word-spacing: 0px;
  writing-mode: lr-tb;
}

.buttonStyle:hover {
	background: black;
	color: white;
	opacity: 0.6;
}
/*Global navigation styling*/
@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);
/* Please Keep this font import at the very top of any CSS file */
@charset "UTF-8";
/* Starter CSS for Flyout Menu */
#buttonNav {
  position:absolute;
  top:10%;
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 1;
  z-index: 4;
  opacity: 0;
}
#buttonNav ul,
#buttonNav ul li,
#buttonNav ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#buttonNav ul {
  position: relative;
  z-index: 597;
  float: left;
}
#buttonNav ul li {
  float: left;
  min-height: 1px;
  line-height: 1em;
  vertical-align: middle;
  position: relative;
}
#buttonNav ul li.hover,
#buttonNav ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
#buttonNav ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 598;
  width: 100%;
}
#buttonNav ul ul li {
  float: none;
}
#buttonNav ul ul ul {
  top: -2px;
  right: 0;
}
#buttonNav ul li:hover > ul {
  visibility: visible;
}
#buttonNav ul ul {
  top: 1px;
  left: 99%;
}
#buttonNav ul li {
  float: none;
}
#buttonNav ul ul {
  margin-top: 1px;
}
#buttonNav ul ul li {
  font-weight: normal;
}
/* Custom CSS Styles */
#buttonNav {
  width: 85px;
  background: #333333;
  font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;
  zoom: 1;
  font-size: 12px;
}
#buttonNav:before {
  content: '';
  display: block;
}
#buttonNav:after {
  content: '';
  display: table;
  clear: both;
}
#buttonNav a {
  display: block;
  padding: 15px 20px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
#buttonNav > ul {
  width: 85px;
}
#buttonNav ul ul {
	width: 85px;
}
#buttonNav > ul > li > a {
  border-right: 4px solid #1b9bff;
  color: #ffffff;
}
#buttonNav > ul > li > a:hover {
  color: #ffffff;
}
#buttonNav > ul > li.active a {
  background: #1b9bff;
}
#buttonNav > ul > li a:hover,
#buttonNav > ul > li:hover a {
  background: #1b9bff;
}
#buttonNav li {
  position: relative;
}
#buttonNav ul li.has-sub > a:after {
  content: '+';
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -6px;
}
#buttonNav ul ul li.first {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}
#buttonNav ul ul li.last {
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
  border-bottom: 0;
}
#buttonNav ul ul {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
#buttonNav ul ul {
  border: 1px solid #0082e7;
}
#buttonNav ul ul a {
  font-size: 12px;
  color: #ffffff;
}
#buttonNav ul ul a:hover {
  color: #ffffff;
}
#buttonNav ul ul li {
  border-bottom: 1px solid #0082e7;
}
#buttonNav ul ul li:hover > a {
  background: #4eb1ff;
  color: #ffffff;
}
#buttonNav.align-right > ul > li > a {
  border-left: 4px solid #1b9bff;
  border-right: none;
}
#buttonNav.align-right {
  float: right;
}
#buttonNav.align-right li {
  text-align: right;
}
#buttonNav.align-right ul li.has-sub > a:before {
  content: '+';
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -6px;
}
#buttonNav.align-right ul li.has-sub > a:after {
  content: none;
}
#buttonNav.align-right ul ul {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 598;
  width: 100%;
}
#buttonNav.align-right ul ul li.first {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}
#buttonNav.align-right ul ul li.last {
  -webkit-border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
}
#buttonNav.align-right ul ul {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

/* Global Header Class */
.tableHeader {
	background-color: #666666;
}

.tableHeaderContent {
	color: white;
	font-size: 16px;
	font-weight: bold;
}

/*Global Error handling*/
.red {
	font-size: 11px;
	color: red;
}

.redRegister {
	font-size: 11px;
	color: red;	
}